<section class="section gray-bg" id="blog">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-7 text-center">
              <div class="section-title">
                  <h2>Seminars and Organization</h2>
                  <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4">
              <div class="blog-grid">
                  <div class="blog-img">
                      <div class="date">2022</div>
                      <a href="#">
                          <img src="https://www.bootdey.com/image/350x280/FFB6C1/000000" title="" alt="">
                      </a>
                  </div>
                  <div class="blog-info">
                      <h5><a href="#">Letran Information Technology Society</a></h5>
                      <p>Organized 5 IT community events with over 150 attendees, improving student participation by 20%,
                        showcasing effective project management and leadership.</p>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="blog-grid">
                  <div class="blog-img">
                      <div class="date">2024</div>
                      <a href="#">
                          <img src="https://www.bootdey.com/image/350x280/87CEFA/000000" title="" alt="">
                      </a>
                  </div>
                  <div class="blog-info">
                      <h5><a href="#">She Is Devcon: Leadership Bootcamp 2024</a></h5>
                      <p>The seminar offers insightful keynotes and panels featuring leading women in tech, interactive workshops to enhance skills and knowledge, ample 
                        networking opportunities with peers and industry leaders, and a showcase of the latest technologies and innovations.</p>
                     
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="blog-grid">
                  <div class="blog-img">
                      <div class="date">2024</div>
                      <a href="#">
                          <img src="https://www.bootdey.com/image/350x280/FF7F50/000000" title="" alt="">
                      </a>
                  </div>
                  <div class="blog-info">
                      <h5><a href="#">I/O Extented x Build with AI Cloud Manila</a></h5>
                      <p>Experience the developer content from I/O brought to life with technical talks, insights from Google Developer Experts, 
                        and networking opportunities with fellow tech enthusiasts in the area.</p>
                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>