<section id="home" class="home-section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Content -->
      <div class="col-md-6 text-content">
        <p class="subtitle mt-3">Hello!</p>
        <h1>
          I am <span class="highlight ">Jhoanna Elaine!</span>
        </h1>
        <button class="btn btn-primary shadow p-3 mb-5">Know more about me!</button>
      </div>
      <!-- Right Image -->
      <div class="col-md-6 image-content">
        <img src="https://qph.cf2.quoracdn.net/main-qimg-8686305141d49f4e390d677083051cb6-lq" alt="Jhoanna Elaine" class="img-fluid">
      </div>
    </div>
  </div>
</section>
